#landing-container {
  text-align: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
  padding-top: 1.5rem;
}

#landing-container h2 {
  font-size: 2rem;
  margin: 0;
}

#landing-container p {
  font-size: 1.5rem;
}

#welcome-background {
  background: url(./groupPictureWithLogo.jpg) no-repeat center top;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 0%;
  padding-top: 66.67%;
  color: #fafafa;
  overflow: hidden;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

#welcome-div {
  background-color: rgba(85, 57, 89, 0.9);
}

#welcome-content {
  max-width: 45rem;
}

#about-background {
  background-color: #bcbec0;
}

#about-content {
  max-width: 45rem;
  margin-left: 2rem;
  text-align: left;
}

#learn-content {
  max-width: 45rem;
  margin-right: 2rem;
  text-align: left;
}

@media (max-width: 950px) {
  .landing-content {
    padding: 1.5rem 1rem;
  }

  #welcome-background {
    background-image: url(./groupPicture.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 0;
  }

  #welcome-div {
    background-color: rgba(85, 57, 89, 0.4);
  }

  #about-content {
    margin-left: 0;
    text-align: center;
  }

  #learn-content {
    margin-right: 0;
    margin-bottom: 2rem;
    text-align: center;
  }
}
