html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Avenir' !important;
  margin: 0px;
}

#react-root {
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.container {
  padding: 20px;
}

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

.filestack-button {
  border: none;
  background-color: #553959;
  color: #fafafa;
  font-family: Avenir;
  font-weight: 500;
  border-radius: 5px;
  font-size: .75rem;
  padding: .75rem;
  cursor: pointer;
}

.popover-content {
  margin: 1rem;
  max-width: 20rem;
}