.react-calendar {
  width: 70rem !important;
  margin: auto;
  font-family: Avenir !important;
}

.react-calendar__tile {
  height: 7rem;
  display: flex;
  flex-direction: column;
  cursor: initial !important;
}

.react-calendar__tile p {
  margin: 0;
  cursor: pointer;
}

.react-calendar__tile--active {
  background: #e6e6e6 !important;
  color: initial !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000 !important;
}

#popover-content {
  margin: 1rem
}