.notifyButton {
  border: none;
  background-color: #553959;
  color: #fafafa;
  font-family: Avenir;
  font-weight: 500;
  border-radius: 5px;
  font-size: 0.75rem;
  padding: 0.75rem;
  cursor: pointer;
}
