footer {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
}

footer a {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

#linkedin-footer-links-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}